*{
    margin: 0;
    padding: 0;
}

h1{
    color:rgb(67, 58, 231);
    font-size: 60px;
}

nav{
    background-color: black;
    text-align: center;
}

nav a{
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 6px 20px;
    font-size: 16px;
    background-color: black;
    transition: 0.5s;
}

nav a:hover{
    background-color: orange;
}

p{
    color: gray;
}